<h2><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Self registration</h2>
<div>

    <!--label for (key , value) in object-->
    <select ng-model="language" ng-options="code as name for (code, name) in availableLanguages" class="form-control"></select>
    <p></p>
    <div class="panel-group" id="accordionSelfReg" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionSelfReg" data-target="#collapseOne" aria-controls="collapseOne">
                        Step 1: Answer Questionnaire
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse " role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body" ng-show="(currentPage==PAGES.Answer)">
                    <form name="selfRegistrationForm" novalidate>
                                <!--@TODO Support ordering-->
                                <div ng-repeat="(chapterId, chapter) in questionnaire.chapters " style="padding-bottom: 10px;">
                                    <span>{{chapter.name}}</span>

                                            <div ng-repeat="(questionId, question) in chapter.questions " style="padding-left: 30px; padding-bottom: 7px;">
                                                <!--
                                                  https://docs.angularjs.org/api/ng/directive/form
                                                  Since you cannot dynamically generate the name attribute of input elements using
                                                  interpolation, you have to wrap each set of repeated inputs in an ngForm directive
                                                  and nest these in an outer form element.
                                                -->
                                                <ng-form name="questionForm" class="form-inline">
                                                    <fieldset class="form-group">
                                                        <label class="control-label" for="{{questionId}}">{{translate(question.name)}}</label>
                                                        <input id="{{questionId}}" name="question" type="{{question.type}}" ng-model="question.value"
                                                               ng-required="question.mandatory" class="form-control">
                                                        <span class="slm-error"
                                                              ng-show="questionForm.question.$error.required">Required!</span>
                                                        <span class="slm-error"
                                                              ng-show="question.validationError">{{question.validationError}}</span>
                                                    </fieldset>
                                                </ng-form>
                                            </div>
                                </div>
                            <nav style="float: left">
                                <ul class="pager">
                                    <li><a ng-click="saveAndNext()" ng-disabled="selfRegistrationForm.$invalid"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> Save & next step</a></li>
                                    <li><a ng-click="closeSelfRegistration()">Close</a></li>
                                </ul>
                            </nav>
                        </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionSelfReg" data-target="#collapseTwo" aria-controls="collapseTwo">
                        Step 2: Finish Questionnaire
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse " role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body" ng-show="currentPage==PAGES.Finish">
                    <strong>Do you want to finish the registration?</strong>
                    <p>In this step you declare the registration to be finished.</p>
                    <p>
                        <button type="button" class="btn btn-default" ng-click="finishSelfRegistration()">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Finish
                        </button></p>
                    <nav style="float: left">
                        <ul class="pager">
                            <li><a ng-click="gotoAnswer()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Previous step</a></li>
                            <li><a ng-click="closeSelfRegistration()">Close</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionSelfReg" data-target="#collapseThree" aria-controls="collapseThree">
                        Follow-up
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse " role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body" ng-show="currentPage==PAGES.FollowUP">
                    <div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Your task has been completed successfully</div>
                    <p>We thank you for your interest in registration with our company. Our clearing staff will
                        review your registration and will get in touch with you soon. For further questions...</p>
                    <p></p>
                    <button type="button" class="btn btn-default" ng-click="closeSelfRegistration()">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
